.headline {
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	font-family: 'Merriweather', serif;
}


.byline{
	font-size: 1em;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	text-align: center;
}


p{
	font-family: georgia, serif;
	line-height: 180%;

}

.chapterhead{
	font-size: 2em;
	text-align:left;
	font-family: 'Merriweather', serif;
}

.nvh{
	margin-left: 350px;
}


.caption{
	text-align: left;
	color: grey;
	margin-left: 5%;
	margin-right: 5%;
}


.footer{
	background-color: black;
	text-align: center;
	color: white;
}




/* Tophat*/

.nav-logo{
	color: #fff;
	margin: 0 auto;
	font-weight: 700;
	text-transform: uppercase;

}


.red{
	color: #f23030;
}


.green{
	color: #34D343;
}

.hero-container{
	position: relative;
	text-align: center;
	color: #fff;
}


.hero-image{
	width: 100%; 
}


.overlay {
	position: absolute;
	top: 25%;
	width: 100%;
	background-color: #000;
	opacity: .7;
}

/*maybe change font family later?*/

.hero-head{
	font-family: "Playfair Display", serif; 
	font-size: 6em;
	color: #fff;
	margin: 0 auto;
	padding-bottom: 10px;
}

.hero-sub{
	font-family: "montserrat", sans-serif;
	font-size: .25em; 
}

/*first few things from video, not sure if necessary*/
@media(max-width: 650px) {
	p{
		padding-left: 20px;	
		padding-right: 10px;
	}

	.chapter-head {
		font-size: 1.25em;
	}

	.head{
		font-size: 2em;
	}

	.hero-head{
		font-size: 1.5em;
	}
}


/*Quote, maybe change color?*/ 

.quote{
	font-family: "montserrat", sans-serif;
	color: #f23030; 
	font-size: 3em;	
	font-weight: 700;
	text-align: left;
	padding: 15px 0 15px 0; 
	border-top: 1px solid #f23030;
	border-bottom: 1px solid #f23030;
	margin-top: 20px;
	margin-bottom: 20px; 
}


.quote-attribution{
	font-size: .5em;
	font-family: "montserrat", sans-serif;
	font-weight: 100;
	text-align: left;
	color: #000; 
}


/*for images*/

.productions{
	text-align: center;
}

.pic{

}




























