.headline {
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	font-family: 'Merriweather', serif;
}


.byline{
	font-size: 1.3em;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	text-align: center;
}


p{
	font-family: georgia, serif;
	line-height: 180%;

}

.chapterhead{
	font-size: 1.7em;
	text-align:left;
	font-family: 'Merriweather', serif;
}

.nvh{
	margin-left: 350px;
}


.caption{
	text-align: left;
	color: grey;
	margin-left: 5%;
	margin-right: 5%;
}


.footer{
	background-color: black;
	text-align: center;
	color: white;
}

.intro{
	font-size: 1.4em;
	text-align: left;
	font-family: georgia, serif;
	font-weight: 700;
}


/* Tophat*/

.nav-logo{
	color: #fff;
	margin: 0 auto;
	font-weight: 700;
	text-transform: uppercase;

}


.red{
	color: #f23030;
}


.green{
	color: #34D343;
}

.hero-container{
	position: relative;
	text-align: center;
	color: #fff;
}


.hero-image{
	width: 100%; 
}


.overlay {
	position: absolute;
	top: 23%;
	width: 100%;
	background-color: #000;
	opacity: .7;
}

/*maybe change font family later?*/

.hero-head{
	font-family: "Playfair Display", serif; 
	font-size: 6em;
	color: #fff;
	margin: 0 auto;
	padding-bottom: 10px;
}

.hero-sub{
	font-family: "Merriweather", sans-serif;
	font-size: .25em; 
}

/*first few things from video, not sure if necessary*/
@media(max-width: 650px) {
	p{
		padding-left: 20px;	
		padding-right: 10px;
	}

	.chapter-head {
		font-size: 1.25em;
	}

	.head{
		font-size: 2em;
	}

	.hero-head{
		font-size: 1.5em;
	}
}


/*Quote, maybe change color?*/ 

.quote{
	font-family: "Merriweather", sans-serif;
	color: #9E2C44; 
	font-size: 2em;	
	font-weight: 700;
	text-align: left;
	padding: 15px 0 5px 0; 
	border-top: 1px solid #9E2C44;
	border-bottom: 1px solid #9E2C44;
	margin-top: 20px;
	margin-bottom: 20px; 
}


.quote-attribution{
	font-size: .5em;
	font-family: "Merriweathert", sans-serif;
	font-weight: 100;
	text-align: left;
	color: #000; 
}


/*for images*/

.original-image{
	align-content: center;
	width: 100%;
}


blockquote{
	font-size: 1.5em;
	font-family: "Merriweather";
	font-style: bold;
	margin-top:20px;
	margin-bottom: 15px;
	color:  #9E2C44;
	text-align: right;
	border-right: 4px solid #ccc;
	margin-left: 450px;
	margin-right: 10px;
}

.caption1{ 
	font-size: 1em;
	font-family: "Merriweathert", sans-serif;
	font-weight: 100;
	text-align: right;
	color: #000; 
 }
























